body { 
  background: url(../images/crystal.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.jumbotron {
	background: rgba(200, 54, 54, .5);
}

img:hover {
	opacity: .5
}